apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-nginx-app
spec:
  replicas: 2
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: demo-nginx-app
  template:
    metadata:
      labels:
        app: demo-cicd-nginx-app
    spec:
      containers:
      - image: 389579302079.dkr.ecr.us-east-1.amazonaws.com/ecr-repo-ue1-bhj1-dev:latest
        name: demo-nginx-app
        ports:
        - containerPort: 80
